.menuContainer{
  display: flex;
  flex-direction: row;
}





.navBtn {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
  margin-bottom: 10px;
  margin-right: 5px;
}

.navBtn:hover {
  background: #0051ff;
}